

<div class="container">

    <h2>User Registration</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label><br>
            <input type="text" name="name" class = "form-control" [(ngModel)]="userModel.name">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="email">Email</label><br>
            <input type="text" name="email" class = "form-control" [(ngModel)]="userModel.email">
        </div>
        <pre></pre>
        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>