<div class="app">
    <div class="title">
        <h1>{{title}}</h1>
    </div>

    <!-- <app-users></app-users> -->
    <div class="container">
        <div class="user" *ngFor="let user of usersData.users">
            <i class="fa-regular fa-user"></i>
            <div class="name">
                <h3 class="userName">{{ user.name }}</h3>
                <button type="button" class="btn btn-primary btnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editUser(user)"><i title="Edit" class="fas fa-edit" aria-hidden="true"></i></button>
            </div>
            <div *ngFor="let post of postsData.posts">
                <div class="post" *ngIf="user.id == post.user_id">
                    <div class="left">
                        <h5>{{ post.title }}</h5>
                        <p>{{ post.body }}</p>
                    </div>

                   <div class="right"> 
                    <p class="last_update">{{ post.last_update }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #userForm="ngForm" (ngSubmit)="updateUser()">
                <div class="form-group">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" class = "form-control" [(ngModel)]="userModel.name">
                </div>
                <pre></pre>
                <div class="form-group">
                    <label for="email">Email</label><br>
                    <input type="text" name="email" class = "form-control" [(ngModel)]="userModel.email">
                </div>
                <pre></pre>
                <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Update</button>
            </form>
        </div>
      </div>
    </div>
  </div>


<app-form></app-form>


<app-user-form></app-user-form>








