/* Application-wide Styles */
h1 {
    color: rgb(40, 35, 79);
    font-family: 'Inter', sans-serif;
    font-size: 250%;

  }
  h2 {
    color: rgb(33, 80, 127);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  h3 {
    color: rgb(33, 80, 127);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
  }

  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }